<app-navbar></app-navbar>
<div id="contenido_contacto">
  <h2>Contacto:</h2>
<form action="#" target="" method="get" name="formDatosPersonales">

  <label for="nombre">Nombres:</label>
  <input type="text" name="nombre" id="nombre" placeholder="Ej. Selvin Antonio ">

  <label for="apellidos">Apellidos:</label>
  <input type="text" name="apellidos" id="apellidos" placeholder="Ej. Carrillo Marroquin"/>

  <label for="email" >Email:</label>
  <input type="text" name="email" id="email" placeholder="Ej. Selvi23@gmail.com" required />
  
  <label for="mensaje" >Mensaje:</label>
  <textarea name="mensaje" for="mensaje" placeholder="Comentarios o Consultas" maxlength="300"></textarea>
  
  <input type="submit" name="enviar" value="enviar datos"/>
</form>   
</div>