<app-navbar></app-navbar>
<div class="d-flex position-relative">
  <img src=".../../../../../assets/img/logo java.png" class="flex-shrink-0 me-3" alt="..." width="200" height="200">
  <div>
    <h5 class="mt-0">JavaFX Control de Alumnos</h5>
    <p>El objetivo de este proyecto es llevar el control de los alumnos y se desempeñan varias funciones como 
      agregar un nuevo alumno, asignar horario, ver el salón, listar las carreras técnicas, entre otras, estas 
      funciones se pueden crear, editar, eliminar y crear reporte del estado actual, este proyecto estuvo en 
      desarrollo en un tiempo estimado de 3 meses.</p>
    <a href="https://github.com/tpamal/Kalum-v.0.0.1.git" class="stretched-link">Descargar Proyecto</a>
  </div>
</div>

<div class="d-flex position-relative">
  <img src=".../../../../../assets/img/logo java.png" class="flex-shrink-0 me-3" alt="..." width="200" height="200">
  <div>
    <h5 class="mt-0">API Control de Alumnos</h5>
    <p>El objetivo de este proyecto es un backend para uso web llevar el control de los alumnos y se desempeñan 
      varias funciones como agregar un nuevo alumno, asignar horario, ver el salón, listar las carreras técnicas, 
      entre otras, estas funciones se pueden crear, editar, eliminar y crear reporte del estado actual, este 
      proyecto estuvo en desarrollo en un tiempo estimado de 2 meses.</p>
    <a href="https://github.com/tpamal/Api-Kalum-2021.git" class="stretched-link">Descargar Proyecto</a>
  </div>
</div>